/* GENERAL STYLES */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #242424;
}

body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: white;
    line-height: 1.6;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
}

main {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.hidden {
    display: none !important;
}


/* HEADER STYLES */ 
header {
    background: #242424;
    color: #fff;
    padding: 1rem 2vw;
    position: relative;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#header-img {
    border-radius: 20%;
    width: 60px;
    height: 60px;
    margin: 0 2rem;
    opacity: 100%;
    cursor: pointer;
}
header h1 {
    font-size: 1.5rem;
    margin: 0;
    cursor: pointer;
    padding: 0 2rem;
}

nav#menu ul {
    display: flex;
    list-style: none;
}

nav#menu li {
    margin: 0 3rem;
    font-weight: bold;
}

nav#menu a {
    color: #fff;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 1rem;
}

nav#menu a:hover {
    color: #009643;
}

/* INTRO STYLES */
.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
}

.intro-image {
    width: 50%;
}

.intro-image img {
    border-radius: 1rem;
}

#intro-caption {
    text-align: left;
    font-size: small;
    color: white;
    width: 100%;
}

.intro-text {
    width: 75%;
    text-align: left;
    padding: 2rem;
}

.intro-text h2 {
    font-size: x-large;
}

.intro-text p {
    margin-bottom: 3rem;
    margin-top: 2rem;
    text-align: left;
    width: 100%;
    font-size: medium;
}

#learn-more-btn {
    background-color: white;
    color: #333;
    border: none;
    padding: 1rem;
    font-size: medium;
    cursor: pointer;
    border-radius: 0.5rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
}

#learn-more-btn:hover {
    background-color: #009643;
    color: white;
}


/* FEATURED PROJECTS STYLES */

.featured-projects {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#featured-divider {
    width: 70%;
    height: 0.4rem;
    background: white;
    border-radius: 0.5rem;
}

.featured-projects h1 {
    text-align: left;
    position: relative;
    flex-direction: row;
    font-size: xx-large;
}

.project {
    width:100%;
    height: auto;
    background:#f1f1f1;
    border-radius: 1rem;
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    padding: 3.5rem; 
    margin: 2rem 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.252);

    /* Parallax */
    position: sticky;
    top: 10%;
    overflow: hidden;
}

.project-details {
    flex: 1; 
    max-width: 60%; 
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    justify-content: space-between; 
    box-sizing: border-box;
}

.project-details h2 {
    font-size: x-large;
    margin-bottom: 1rem;
    text-align: left;
    color: #333;
    
}

.project-details p {
    font-size: 1rem;
    margin-bottom: 2rem;
    text-align: left;
    width: 100%;
    color: #333;
}

.project-details button {
    background-color: #333;
    color: white;
    border: 1px solid #333;
    padding: 1rem;
    font-size: medium;
    cursor: pointer;
    border-radius: 0.5rem;
    font-weight: bold;
    align-self: flex-start; 
}

.project-details button:hover {
    background-color: #009643;
    color: white;
}

/* Right Side: Image */
.project-image {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
}

.project-image img {
    width: 300px;
    border-radius: 5%;
    height: auto;
}




/* OTHER PROJECTS STYLES */
.other-projects {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.other-projects h1 {
    text-align: left;
    position: relative;
    flex-direction: row;
    font-size: xx-large;
}

#other-divider {
    width: 70%;
    height: 0.4rem;
    background: white;
    border-radius: 0.5rem;
}



/* CONTACT FORM */

    /* Overlay background */
    #contact-form-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Form styling */
    #contact-form {
        display: flex;
        flex-direction: column;
        background: #333;
        padding: 2rem;
        border-radius: 1rem;
        width: 50%;
        position: relative;
    }

    #contact-form h2 {
        align-self: center;
        text-align: center;
        width: 100%;
        font-size: x-large;

    }
    
    #contact-form p {
        align-self: center;
        text-align: center;
        width: 80%;
    }

    /* Close button */
    #close-btn {
        position: absolute;
        top: 1rem;
        right: 2rem;
        font-size: 200%;
        cursor: pointer;
    }
    
    #close-btn:hover {
        color: #c91919;
    }

    /* Form fields */
    form input, form textarea {
        width: 80%;
        margin: 0.5rem 3.5rem;
        padding: 1rem;
        border: 0.1rem solid #ccc;
        border-radius: 0.5rem;
        justify-content: center;
    }

    /* Submit button */
    form button {
        width: 25%;
        padding: 1rem;
        color: #333;
        background: white;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        font-weight: bold;
        font-size: large;
        margin: 0 13.5rem;
    }

    form button:hover {
        background: #009643;
        color: #fff;
    }




/* FOOTER STYLES */
footer {
    background: #242424;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

.footer p {
    margin: 2rem;
}

.footer #social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
    list-style: none;
}

.footer #social-media li {
    margin: 0 1rem;
}

footer #social-media li a {
    font-size: 25rem; 
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}


.footer #social-media img {
    width: 3rem;
    height: auto;
    cursor: pointer;
}


#coming-soon {
    color: white;
    font-size: 50px;
    margin-top: 20px;
    text-align: center;
    font-weight: bolder;
}


/* ABOUT PAGE STYLES */
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-image {
    width: 125%;  
    height: 35vh; 
    overflow: hidden; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.about-image img {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
    object-position: center 70%;
}


