<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Elisa Carrasco Lanusse Portfolio</title>
        <link rel="stylesheet" href="../styles/output.css">
    </head>
    <body> 
            
        <!-- Contact Form -->
        <div id="contact-form-container" class="backdrop-blur-xs p-auto fixed top-0 left-0 w-full h-full z-[10] flex justify-center items-center invisible">
            <div class="relative shadow-2xl bg-neutral-900 text-neutral-50 w-2/3 h-4/5 p-15 rounded-2xl flex flex-col" id="contact-form">
                <span class="absolute top-5 right-10 text-2xl hover:text-red-500 hover:cursor-pointer" id="close-btn">&times;</span>
                <h2 class="relative text-3xl font-bold text-center">Contact Me</h2>
                <p class="relative text-center m-2 text-sm">Feel free to reach out to me for any inquiries or collaborations! I'm always looking for new projects and hobbies to work on, so don't hesitate to send me a message. I'm also available for any questions or comments you may have about my work or my portfolio. I look forward to hearing from you!</p>
                <form class="flex flex-col justify-center items-center" id="contactForm">
                    <div class="flex flex-row my-2 justify-center items-center">
                    <input class="bg-neutral-50 mx-2 text-neutral-800 p-2 rounded-lg w-2/5" type="text" id="name" name="name" placeholder="Name" required>

                    <input class="bg-neutral-50 mx-2  text-neutral-800 p-2 rounded-lg w-3/5" type="email" id="email" name="email" placeholder="Email" required>
                    </div>

                    <textarea class="resize-none bg-neutral-50 text-neutral-800 p-2 rounded-lg w-7/8 h-35" id="message" name="message" placeholder="Message" required></textarea>

                    <button class="button bg-neutral-50 text-neutral-600 font-extrabold text-m rounded-2xl p-4 max-w-40 w-3xs hover:bg-green-600 m-2 hover:text-neutral-50 cursor-pointer" type="submit" id="submit-contact-form">Send</button>
                </form>
            </div>
        </div>

        <script src="../scripts/main.js"></script>

    </body>
</html>