<!-- Footer -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elisa Carrasco Lanusse Portfolio</title>
    <link rel="stylesheet" href="../styles/output.css">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CT0MB434WT"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-CT0MB434WT');
    </script>

</head>
<body> 
    <footer class="bg-neutral-800 text-neutral-50 flex justify-center px-15 py-5"> 
        <div class="footer flex-co m-10 px-15 text-center">
            <ul id="social-media" class="flex flex-row justify-between gap-x-5">
                <li><a href="https://www.linkedin.com/in/elisa-carrasco-lanusse/">
                    <img class="w-16 h-16 max-h-xs max-w-xs" id="linkedin" src="https://github.com/ElisaCarrascoLanusse/Portfolio/blob/main/assets/icons/linkedin-img.png?raw=true" alt="LinkedIn">
                </a></li>
                <li><a href="https://www.instagram.com/eli_carrasco05/">
                    <img class="w-16 h-16 max-h-xs max-w-xs" id="instagram" src="https://github.com/ElisaCarrascoLanusse/Portfolio/blob/main/assets/icons/instagram-img.png?raw=true" alt="Instagram">
                </a></li>
                <li><a href="https://github.com/ElisaCarrascoLanusse">
                    <img class="w-16 h-16 max-h-xs max-w-xs" id="github" src="https://github.com/ElisaCarrascoLanusse/Portfolio/blob/main/assets/icons/github-img.png?raw=true" alt="GitHub">
                </a></li>
            </ul>
            <p>Created with love by Elisa Carrasco Lanusse 2025, font by 
                Indian Type Foundry</p>
        </div>
    </footer>
    
    <script src="../scripts/main.js"></script>

</body>
</html>
