<!-- Footer -->
<footer>
    <div class="footer">
        <ul id="social-media">
            <li><a href="https://www.linkedin.com/in/elisa-carrasco-lanusse/">
                <img id="linkedin" src="https://github.com/ElisaCarrascoLanusse/Portfolio/blob/main/assets/icons/linkedin-img.png?raw=true" alt="LinkedIn">
            </a></li>
            <li><a href="https://www.instagram.com/eli_carrasco05/">
                <img id="instagram" src="https://github.com/ElisaCarrascoLanusse/Portfolio/blob/main/assets/icons/instagram-img.png?raw=true" alt="Instagram">
            </a></li>
            <li><a href="https://github.com/ElisaCarrascoLanusse">
                <img id="github" src="https://github.com/ElisaCarrascoLanusse/Portfolio/blob/main/assets/icons/github-img.png?raw=true" alt="GitHub">
            </a></li>
        </ul>
        <p>Created with love by Elisa Carrasco Lanusse 2025</p>
    </div>
</footer>