<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elisa Carrasco Lanusse Portfolio</title>
    <link rel="stylesheet" href="../styles/output.css">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CT0MB434WT"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-CT0MB434WT');
    </script>

</head>
<body>
    <header class="bg-background-100 text-text flex flex-row justify-between px-15 py-5 fixed md:relative z-500 w-full top-0"> 
        <div class="header-content flex flex-row items-center">
            <img class="rounded-2xl w-16 h-16 max-h-xs max-w-xs mr-10 hover:cursor-pointer" 
                id="header-img" 
                alt="Drawing of Elisa" 
                src="https://github.com/ElisaCarrascoLanusse/Portfolio/blob/main/assets/images/header-img.jpeg?raw=true"
            >
            <h1 id="header-h1" class="text-2xl font-bold text-hover-50 hover:cursor-pointer">ELISA CARRASCO LANUSSE</h1>
        </div>
        <!-- Hamburger Button -->
        <button id="menu-button" class="group flex flex-col space-y-1 justify-center pl-4 hover:cursor-pointer md:hidden">
            <span class="block w-8 h-0.75 my-1 bg-accent-100 rounded-2xl group-hover:bg-hover-50"></span>
            <span class="block w-8 h-0.75 my-1 bg-accent-100 rounded-2xl group-hover:bg-hover-50"></span>
            <span class="block w-8 h-0.75 my-1 bg-accent-100 rounded-2xl group-hover:bg-hover-50"></span>
        </button>

        <nav id="menu" class="hidden absolute top-32 sm:top-20 left-0 right-0 bg-background-100 md:static md:flex items-center">
            <ul class="flex flex-col md:flex-row md:text-lg font-bold uppercase text-center md:space-x-10 space-y-6 md:space-y-0 py-6 md:py-0">
                <li><a href="#work-section" id="work" class="text-accent-100 underline py-4 text-center block text-md hover:text-hover-50">Work</a></li>
                <li><a href="#play-section" id="play" class="text-accent-100 underline hover:text-hover-50 text-md py-4 block">Play</a></li>
                <li><a href="#about-section" id="about" class="text-accent-100 underline hover:text-hover-50 text-md py-4 block">About</a></li>
                <li><a href="#contact-section" id="contact" class="text-accent-100 underline hover:text-hover-50 text-md py-4 block">Contact</a></li>                
            </ul>
          </nav>
    </header>

    <script src="../scripts/main.js"></script>
</body>
</html>
