<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elisa Carrasco Lanusse Portfolio</title>
    <link rel="stylesheet" href="../styles/output.css">
</head>
<body>
    <header class="bg-neutral-800 text-neutral-50 flex flex-row justify-between px-15 py-5"> 
        <div class="header-content flex flex-row items-center">
            <img class="rounded-2xl w-16 h-16 max-h-xs max-w-xs mr-10 hover:cursor-pointer" 
                id="header-img" 
                alt="Drawing of Elisa" 
                src="https://github.com/ElisaCarrascoLanusse/Portfolio/blob/main/assets/images/header-img.jpeg?raw=true"
            >
            <h1 id="header-h1" class="text-2xl font-bold hover:cursor-pointer">Elisa Carrasco Lanusse</h1>
        </div>
        <!-- Hamburger Button -->
        <button id="menu-button" class="flex flex-col space-y-1 justify-center pl-4 hover:cursor-pointer md:hidden">
            <span class="block w-8 h-0.75 my-1 bg-neutral-50 rounded-2xl"></span>
            <span class="block w-8 h-0.75 my-1 bg-neutral-50 rounded-2xl"></span>
            <span class="block w-8 h-0.75 my-1 bg-neutral-50 rounded-2xl"></span>
        </button>
        <nav id="menu" class="hidden absolute top-20 left-0 right-0 bg-neutral-800 md:static md:flex md:items-center">
            <ul class="flex flex-col md:flex-row text-lg font-bold uppercase text-center md:space-x-10 space-y-4 md:space-y-0 py-4 md:py-0">
              <li><a href="#work-section" id="work" class="underline hover:text-green-600">Work</a></li>
              <li><a href="#play-section" id="play" class="underline hover:text-green-600">Play</a></li>
              <li><a href="#about-section" id="about" class="underline hover:text-green-600">About</a></li>
              <li><a href="#contact-section" id="contact" class="underline hover:text-green-600">Contact</a></li>
            </ul>
          </nav>
    </header>

    <script src="../scripts/main.js"></script>
</body>
</html>
