<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elisa Carrasco Lanusse Portfolio</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <header> 
        <div class="header-content">
            <img 
                id="header-img" 
                alt="Drawing of Elisa" 
                src="https://github.com/ElisaCarrascoLanusse/Portfolio/blob/main/assets/images/header-img.jpeg?raw=true"
                width="75"
            >
            <h1 id="header-h1">Elisa Carrasco Lanusse</h1>
        </div>
        <nav id="menu">
            <ul>
                <li><a href="#work-section" id="work">Work</a></li>
                <li><a href="#play-section" id="play">Play</a></li>
                <li><a href="#about-section" id="about">About Me</a></li>
                <li><a href="#contact-section" id="contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <script src="scripts/main.js"></script>
</body>
</html>
