<!-- User Personas -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elisa Carrasco Lanusse Portfolio</title>
    <link rel="stylesheet" href="./../styles/projects.css">
</head>
<body> 
    <!-- BASE BASE BASE -->
    <section class="personas" id="persona">
        <div class="persona-card">
            <div class="persona-name">
                <h2>Persona 1</h2>
            </div>
            <div class="persona-info">
                <div class="persona-bio">
                    <img src="" alt="Alt" width="100">
                    <ul>
                        <li>Name:</li>
                        <li>Age: </li>
                        <li>Occupation: </li>
                        <li>Location: </li>
                        <li>Interests: </li>
                    </ul>
                </div>
                <div class="persona-personality">
                    <img src="" alt="Alt" width="100">
                </div>
                <div class="persona-needs">
                    <div class="persona-im">
                        <h3>Interests and Motivations</h3>
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="persona-ge">
                        <h3>Goals and Expectations</h3>
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="persona-cn">
                        <h3>Challenges and Needs</h3>
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- LABORATORIA-1 -->
    <section class="personas" id="persona-1">
        <div class="persona-card">
            <div class="persona-name">
                <h2>Corporate Donor</h2>
            </div>
            <div class="persona-info">
                <div class="persona-bio">
                    <img src="" alt="Alt" width="100">
                    <ul>
                        <li>Name: Diana</li>
                        <li>Age: 38</li>
                        <li>Occupation: Senior Manager at multinational tech company</li>
                        <li>Location: Urban area, big city headquarters</li>
                        <li>Interests: </li>
                    </ul>
                </div>
                <div class="persona-personality">
                    <img src="" alt="Alt" width="100">
                </div>
                <div class="persona-needs">
                    <div class="persona-im">
                        <h3>Interests and Motivations</h3>
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="persona-ge">
                        <h3>Goals and Expectations</h3>
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="persona-cn">
                        <h3>Challenges and Needs</h3>
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- LABORATORIA-2 -->
    <section class="personas-laboratoria" class="personas" id="laboratoria-individual">
        <div class="persona-card">
            <h2>Individual Donor</h2>
            <div class="persona-info">
                <div class="persona-bio">
                    <img src="" alt="Alt" width="100">
                    <ul>
                        <li>Age: </li>
                        <li>Occupation: </li>
                        <li>Location: </li>
                        <li>Interests: </li>
                    </ul>
                </div>
                <div class="persona-personality">
                    <img src="" alt="Individual donor personality graph. " width="100">
                </div>
                <div class="persona-needs">
                    <img src="" alt="Alt" width="100">
                </div>
            </div>
        </div>
    </section>

    <!-- LABORATORIA-3 -->
    <section class="personas-laboratoria" class="personas" id="laboratoria-partner">
        <div class="persona-card">
            <h2>Partner Donor</h2>
            <div class="persona-info">
                <div class="persona-bio">
                    <img src="" alt="Alt" width="100">
                    <ul>
                        <li>Age: </li>
                        <li>Occupation: </li>
                        <li>Location: </li>
                        <li>Interests: </li>
                    </ul>
                </div>
                <div class="persona-personality">
                    <img src="" alt="Partner donor personality graph. " width="100">
                </div>
                <div class="persona-needs">
                    <img src="" alt="Alt" width="100">
                </div>
            </div>
        </div>
    </section>
    
    <!-- <script src=""></script> -->

</body>
</html>
