@import "tailwindcss";

@theme {
    --text-size-sm: 0.875rem;  
    --text-size-md: 1rem; 
    --text-size-lg: 1.125rem; 
    --color-memory: #eb5f52;
}

/* Apply Responsive Text Sizing */
@media (min-width: 640px) { /* sm breakpoint */
    html {
        font-size: var(--text-size-md);
        overflow-x: hidden;
    }
}

@media (min-width: 1024px) { /* lg breakpoint */
    html {
        font-size: var(--text-size-lg);
    }
}

@layer base {
    html {
        scroll-behavior: smooth;
        font-size: var(--text-size-sm);
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
    }

    body {
        background-color: #404040;
        color: #FAFAFA;
        gap: 2rem;
    }

    main {
        margin: 2.5rem 6.25rem;
    }
    
    .btn {
        background-color: #FAFAFA;
        color: #262626;
        cursor: pointer;
        font-weight: 800;
        padding: 1rem 1.5rem;
        border-radius: 1rem;
    }
    .btn:hover {
        background-color: #00A63E;
        color: #FAFAFA;
    }

    .btn-dark {
        background-color: #262626;
        color: #FAFAFA;
        cursor: pointer;
        font-weight: 800;
        padding: 1rem 1.5rem;
    }
    .btn-dark:hover {
        background-color: #00A63E;
        color: #FAFAFA;
    }
}

@layer components {
    .page-title {
        font-size: 3rem;
        font-weight: 900;
        text-align: center;
    }
    
    .section-header {
        display: flex;
        align-items: center;
        font-size: 1.875rem;
        font-weight: bold;
    }

    /* Parallax Card */
    .parallax-card {
        position: sticky;
        top: 1rem;
        z-index: 1;
        display: flex;
        flex-direction: column; /* Mobile first */
        background-color: #FAFAFA;
        color: #262626;
        border-radius: 1rem;
        padding: 3.75rem;
        margin: 1.25rem 0;
        box-shadow: inset 0 0 0.5rem 0 rgb(0, 0, 0);
        gap: 2rem;

        @media (min-width: 768px) { /* md breakpoint */
            flex-direction: row;
        }

        .project-details {
            display: flex;
            flex-direction: column;
        }

        h2 {
            font-size: 1.5rem;
            font-weight: bold;
        }

        p {
            margin: 1.25rem 0;
        }
    }
    
    /* Work and Play Card Components */
    .work-projects, .play-projects {
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        justify-content: center; 
    }

    .work-card, .play-card {
        position: relative;
        border-radius: 1rem;
        overflow: hidden;
        display: flex;
        flex-direction: column; /* Mobile first */
        width: 100%;
        height: auto;

        @media (min-width: 768px) { /* md breakpoint */
            flex-direction: row;
            height: 28rem;
        }
    }

    .work-card img, .play-card img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
    }

    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 50%;
        background: rgba(0, 0, 0, 0.85); 
        box-shadow: inset 0 0 1rem 0 rgb(0, 0, 0);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        z-index: 1;

        @media (min-width: 768px) { /* md breakpoint */
            width: 50%;
            height: 100%;
        }
    }

    .work-details, .play-details {
        position: relative;
        text-align: left;
        color: white;
        margin: 1rem;
        z-index: 2;

        h2 {
            font-size: x-large;
            font-weight: bold;
        }

        p {
            font-size: medium;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        ul, ol {
            margin: 1rem;
            font-size: medium;
        }

        li {
            margin: 0.5rem;
        }
    }   
    
    /* Project Page */
    .projects-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .overview {
        display: flex;
        flex-direction: column; /* Mobile first */
        gap: 3rem;
        justify-content: center;
        align-items: center;
        margin: 2.5rem 6.25rem;

        @media (min-width: 768px) { /* md breakpoint */
            flex-direction: row;
        }
    }

    .overview-text {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        width: 100%;

        @media (min-width: 768px) { /* md breakpoint */
            width: 70%;
            text-align: left;
        }
    }

    .project-image {
        width: 80%;
        height: auto;
        align-self: center;

        @media (min-width: 768px) { /* md breakpoint */
            width: 20%;
            height: 20%;
        }

        img {
            width: 100%;
            height: 100%;
            border-radius: 1rem;
        }
    }

    .exploration {
        display: flex;
        flex-direction: column;
        padding-top: 3rem;
        padding-bottom: 3rem;
        gap: 3rem;
        align-items: center;
    }

    .exploration-text {
        gap: 1rem;
        width: 90%;
        text-align: center;

        @media (min-width: 768px) { /* md breakpoint */
            width: 70%;
        }
    }

    .design {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        text-align: center;
        width: 90%;

        @media (min-width: 768px) { /* md breakpoint */
            width: 70%;
            text-align: left;
        }
    }

    .design-process {
        width: 100%;
        height: auto;
        align-self: center;

        @media (min-width: 768px) { /* md breakpoint */
            width: 90%;
            height: 90%;
        }

        img {
            width: 100%;
            height: 100%;
            border-radius: 1rem;
        }
    }
}
