/* MAIN */
.projects-main {
    width: 100%;
    display: flex  ;
    flex-direction: column;
    margin: auto;
}

/* h1 { 
    font-size: xx-large;
    font-weight: bold;
    text-decoration: underline;
}
*/

/* OVERVIEW */
.overview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 2rem 1rem;
    width: 80%;
}

.overview-text {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.overview-text h1 {
    margin: 1rem 0;
    font-size: xx-large;
    font-weight: bold;
    text-decoration: underline;
}

.overview-text p {
    font-size: large;
}

#laboratoria-list{
    margin: 1rem 0;
    align-self: center;
    font-weight: bold;
    font-size: medium;
}

#laboratoria-list li {
    font-size: larger;
}

/* PROBLEM STATEMENT */
.statement {
    padding: 0 !important;
    margin: 0 !important;
}

#laboratoria-background {
    background-color: #FFE421 !important;
    color: #242424;
    padding: 2rem 0 !important;
    position: relative; 
}

/* EXPLORATION */
.exploration {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
    padding: 2rem 0;
    
}

.exploration-text {
    margin: auto auto;
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin: 2rem auto;
    width: 75%;
}

.exploration-text h1 {
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: xx-large;
    text-decoration: underline;
}

.exploration-text p {
    margin-bottom: 1rem;
}

.exploration-text li {
    margin-top: 1rem;
    text-align: center;
    list-style-position: inside;
}

/* DESIGN */
.design {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
    width: 80%;
}

.design h1 {
    margin-bottom: 1rem;
    font-size: xx-large;
    font-weight: bold;
    text-decoration: underline;
}

.design-process {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.design-process img {
    height: auto;
    margin-top: 1rem;
    width: 60%;
}

/* RESEARCH */
.research {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
    padding: 2rem 0;
    
}

.research-text {
    margin: auto auto;
    text-align: right;
    font-size: large;
    font-weight: bold;
    margin: 2rem auto;
    width: 80%;
}

.research-text h1 {
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: xx-large;
    text-decoration: underline;
}

#research-pt1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.research-text p {
    margin-bottom: 2rem;
    width: 45%;
}

.research-text li {
    margin-top: 1rem;
    margin-left: 2rem;
    text-align: left;
    list-style: none;
}
