/* MAIN */
.projects-main {
    width: 100%;
    display: flex  ;
    flex-direction: column;
    margin: auto;
}

/* h1 { 
    font-size: xx-large;
    font-weight: bold;
    text-decoration: underline;
}
*/

/* USER PERSONAS STYLES */
.personas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.persona-card {
    border-radius: 2rem;
    display: flex; /* Ensures children align horizontally */
    overflow: hidden; /* Clips content to rounded corners */
    width: 100%;
    justify-items: center;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.361);
}

.persona-name {
    width: 5%; 
    background-color: #FFE421; /* Yellow background */
    display: flex;
    align-items: center;
    justify-content: center;
    writing-mode: vertical-rl; 
    text-orientation: upright; 
    font-size: x-large;
    font-weight: bold;
    border-top-left-radius: 2rem; 
    border-bottom-left-radius: 2rem;
    padding: 1rem;
}

.persona-name h2 {
    font-size: x-large;
    font-weight: bold;
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    transform: rotate(180deg);
}

.persona-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 2rem 2rem;
    margin-right: 1rem;
}

.persona-bio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.persona-personality {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem auto;
}

.persona-needs {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem auto;
    border: 0.3rem dashed #cd1c1c;
    width: 100%;
    justify-content: space-between;
}

.persona-im {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.3rem dashed #1c48cd;
    padding: 2rem;   
}

.persona-ge {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.3rem dashed #8023ae;
    padding: 2rem;   
}

.persona-cn {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.3rem dashed #3cae23;
    padding: 2rem;   
}



/* OVERVIEW */
.overview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 2rem 1rem;
    width: 80%;
}

.overview-text {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.overview-text h1 {
    margin: 1rem 0;
    font-size: xx-large;
    font-weight: bold;
    text-decoration: underline;
}

.overview-text p {
    font-size: large;
}

#laboratoria-list{
    margin: 1rem 0;
    align-self: center;
    font-weight: bold;
    font-size: medium;
}

#laboratoria-list li {
    font-size: larger;
}

/* PROBLEM STATEMENT */
.statement {
    padding: 0 !important;
    margin: 0 !important;
}

#laboratoria-background {
    background-color: #FFE421 !important;
    color: #242424;
    padding: 2rem 0 !important;
    position: relative; 
}

/* EXPLORATION */
.exploration {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
    padding: 2rem 0;
    
}

.exploration-text {
    margin: auto auto;
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin: 2rem auto;
    width: 75%;
}

.exploration-text h1 {
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: xx-large;
    text-decoration: underline;
}

.exploration-text p {
    margin-bottom: 1rem;
}

.exploration-text li {
    margin-top: 1rem;
    text-align: center;
    list-style-position: inside;
}

/* DESIGN */
.design {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
    width: 80%;
}

.design h1 {
    margin-bottom: 1rem;
    font-size: xx-large;
    font-weight: bold;
    text-decoration: underline;
}

.design-process {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.design-process img {
    height: auto;
    margin-top: 1rem;
    width: 60%;
}

/* RESEARCH */
.research {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
    padding: 2rem 0;
    
}

.research-text {
    margin: auto auto;
    text-align: right;
    font-size: large;
    font-weight: bold;
    margin: 2rem auto;
    width: 80%;
}

.research-text h1 {
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: xx-large;
    text-decoration: underline;
}

#research-pt1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.research-text p {
    margin-bottom: 2rem;
    width: 30%;
}

.research-text li {
    margin-top: 1rem;
    margin-left: 2rem;
    text-align: left;
    list-style: none;
}
