.projects-main {
    width: 100%;
    display: flex  ;
    flex-direction: column;
    margin: auto;
}

/* h1 { 
    font-size: xx-large;
    font-weight: bold;
    text-decoration: underline;
}
*/

.overview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 2rem 1rem;
    width: 80%;
}

.overview-text {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.overview-text h1 {
    margin: 1rem 0;
}

.overview-text p {
    font-size: large;
}

#laboratoria-list{
    margin: 1rem 0;
    align-self: center;
    font-weight: bold;
    font-size: medium;
}

#laboratoria-list li {
    font-size: larger;
}

.statement {
    padding: 0 !important;
    margin: 0 !important;
}

.statement #laboratoria-background {
    background-color: #FFE421 !important;
    padding: 2rem 0 !important;
    position: relative; /* Keeps it aligned properly */
}

#statement-text {
    width: 75%;
    margin: auto auto;
    color: #242424;
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin: 2rem auto;
}

#statement-text h1 {
    font-weight: bold;
    margin-bottom: 1rem;
}

.design {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
    padding: 2rem 1rem;
    width: 80%;
}

.design h1 {
    margin-bottom: 1rem;
}

.design-process {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.design-process img {
    height: auto;
    margin: 1rem auto;
    width: 60%;
}